<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mafh97.mobilecourses" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Mobile Courses Example</name>
    <description>
        Sample App with JQuery+PHP+MySQL for mobile platforms.
    </description>
    <author email="mfigaredo@gmail.com" href="https://github.com/mfigaredo/mobile-courses">
        Miguel Figaredo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="cordova-plugin-whitelist" spec="~1.3.2" source="npm"/>
    <allow-navigation href="*" />
    <icon src="courses.png" />
</widget>
