<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mafh97.mobilecourses" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Mobile Courses Example</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="mfigaredo@gmail.com" href="http://phonegap.com">
        Mike Fig.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="courses.png" />

</widget>
